'scopeName': 'source.arendelle'
'name': 'Arendelle'
'fileTypes': [
  'arendelle'
]
'patterns': [
  {
    'match': '//.*$'
    'name': 'comment.double-slash.arendelle'
  }
  {
    'match': '\\B(#width|#i|#height|#j|#rnd|#n|#x|#y|#pi)\\b'
    'name': 'variable.language.arendelle'
  }
  {
    'match': '\\b[rldupnciew]+\\b'
    'name': 'constant.language.arendelle'
  }
  {
    'match': '\\b[0-9]+\\b'
    'name': 'constant.language.arendelle'
  }
  {
    'match': '(\\[|\\]|{|}|,|\\(|\\)|<|>)'
    'name': 'keyword.control.arendelle'
  }
  {
    'match': '\\b(or|and)\\b'
    'name': 'keyword.control.arendelle'
  }
  {
    'match': '\\B[@].\\w+'
    'name': 'entity.name.function.arendelle'
  }
  {
    'match': '\\B[$].\\w+'
    'name': 'entity.name.function.arendelle'
  }
  {
    'match': '\\B[!].[^\\(]*'
    'name': 'storage.type.arendelle'
  }
  {
    'match': '"[^"\\\r\n]*(?:\\.[^"\\\r\n]*)*"'
    'name': 'string.quoted.arendelle'
  }
  {
    'match': "'[^'\\\r\n]*(?:\\.[^'\\\r\n]*)*'"
    'name': 'string.quoted.arendelle'
  }
]
